<header class="site-header">
  <div class="site-header__title">
    <div class="container">
      <h1 class="site-title"><a href="{{site.baseurl}}/">Your <strong>MiddSafe</strong> Online Advocate</a></h1>
    </div>
  </div>
  <nav class="site-nav">
    <div class="container">
      <div class="site-nav__items">
        <ul class="site-nav__list">
          <li class="site-nav__list-item"><a href="{{ "/resources" | prepend: site.baseurl }}" class="site-nav__link" data-modal-id="resources-modal">Resources</a></li>
          <li class="site-nav__list-item"><a href="{{ "/about" | prepend: site.baseurl }}" class="site-nav__link" data-modal-id="about-modal">About</a></li>
        </ul>
        <div class="site-nav__button">
          <a href="http://www.middlebury.edu" class="button button--accent js-escape-button">Exit Window</a>
        </div>
      </div>
    </div>
  </nav>
</header>
