<div class="modal" id="resources-modal">
  <div class="modal__main">
    <div class="modal__controls">
      <div class="container">
        <a href="#" class="modal__button" data-modal-close-button>
          <span class="modal__button-icon">&larr;</span> <span class="modal__button-text">Back</span>
        </a>
      </div>
    </div>
    <div class="modal__container">
      <div class="container">
        <div class="modal__content">
          {% include resources.html %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="about-modal">
  <div class="modal__main">
    <div class="modal__controls">
      <div class="container">
        <a href="#" class="modal__button" data-modal-close-button>
          <span class="modal__button-icon">&larr;</span> <span class="modal__button-text">Back</span>
        </a>
      </div>
    </div>
    <div class="modal__container">
      <div class="container">
        <div class="modal__content">
          {% include about.html %}
        </div>
      </div>
    </div>
  </div>
</div>
