<div class="modal" id="resources-modal" tabindex="-1" role="dialog" aria-labelledby="resources-page-title">
  <div class="modal__main">
    <div class="modal__controls">
      <div class="container">
        <a href="#" role="button" class="modal__button" aria-label="Close modal" data-modal-close-button>
          <span aria-hidden="true">
            <span class="modal__button-icon">&times;</span>
            <span class="modal__button-text">Close</span>
          </span>
        </a>
      </div>
    </div>
    <div class="modal__container">
      <div class="container">
        <div class="modal__content">
          {% include resources.html %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="about-modal" tabindex="-1" role="dialog" aria-labelledby="about-page-title">
  <div class="modal__main">
    <div class="modal__controls">
      <div class="container">
        <a href="#" role="button" class="modal__button" aria-label="Close modal" data-modal-close-button>
          <span aria-hidden="true">
            <span class="modal__button-icon">&times;</span>
            <span class="modal__button-text">Close</span>
          </span>
        </a>
      </div>
    </div>
    <div class="modal__container">
      <div class="container">
        <div class="modal__content">
          {% include about.html %}
        </div>
      </div>
    </div>
  </div>
</div>
