{% assign props=include.resource %}

<article class="resource">
  <h3 class="resource__title">{{props.title}}</h3>
  <div class="resource__description">{{props.description|markdownify}}</div>

  {% if props.link_text && props.link_href %}
    <p class="resource__url"><a href="{{props.link_href}}" class="resource__link">{{props.link_text}}</a></p>
  {% endif %}

  {% if props.links %}
    {% for link in props.links %}
      <p class="resource__url">
        <a href="{{link.link_href}}" class="resource__link">{{link.link_text}}</a>
        </p>
    {% endfor %}
  {% endif %}

  {% if props.address %}
    <div class="resource__address">{{props.address | markdownify}}</div>
  {% endif %}

  {% if props.email %}
    <p class="resource__email">
      <a href="mailto:{{props.email}}" class="resource__link">{{props.email}}</a>
    </p>
  {% endif %}

  {% if props.numbers %}
    <ul class="resource__tel-list">
      {% for item in props.numbers %}
        <li class="resource__tel">
          {{item.header}}{% if item.header %}: {% endif %}
          <a href="tel:{{item.number}}">{{item.number}}</a>
          {{item.label}}
        </li>
      {% endfor %}
    </ul>
  {% elsif props.number %}
    <p class="resource__tel">
      <a href="tel:{{props.number}}">{{props.number}}</a>
    </p>
  {% endif %}

  {% if props.confidential == true %}
    <p class="resource__confidentiality"><strong>Confidential</strong></p>
  {% elsif props.confidential == false %}
    <p class="resource__confidentiality"><strong>Not Confidential</strong></p>
  {% elsif props.confidential != '' %}
    <p class="resource__confidentiality"><strong>{{props.confidential}}</strong></p>
  {% endif %}

  {% if props.note %}
    <div class="resource__note">{{props.note | markdownify }}</div>
  {% endif %}

  {% if props.people_title %}
    <h4 class="resource__people-title">{{props.people_title}}</h4>
  {% endif %}

  {% if props.people %}
  <ul class="resource__person-list">
    {% for item in props.people %}
      <li class="resource__person">
        {% include person.html person=item %}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
</article>
