.button {
  display: inline-block;
  white-space: nowrap;
  border: 0;
  border-radius: 5px;
  color: #666;
  background-color: gray;
  padding: 5px 15px;
  text-decoration: none;
  text-align: center;
  border: 1px solid transparent;
  transition: all .2s;
}

.button--primary {
  background-color: $primary;
  color: $white;

  &:hover,
  &:focus {
    background-color: darken($primary, 5%);
  }
}

.button--secondary {
  background-color: $secondary;
  color: $white;

  &:hover,
  &:focus {
    background-color: darken($secondary, 5%);
  }

  &.button--outline {
    border-color: $secondary;
    background-color: transparent;
    color: $secondary;

    &:hover {
      background-color: $secondary;
      color: $white;
    }
  }
}

.button--accent {
  background-color: $accent;
  color: $white;

  &:hover,
  &:focus {
    background-color: darken($accent, 5%);
  }
}

.button--block {
  display: block;
  width: 100%;
}
