.discovery__back-button {
  margin-top: 20px;

  @include media(md) {
    margin-top: 40px;
  }

  .has-discovery.discovery-item-1 & {
    display: none;
  }
}

.question {

}

.question__content {
  margin-bottom: 60px;
}

.answers-list-heading {
  font-size: 16px;
  margin-bottom: 40px;
  margin-top: 50px;
}

.answers-list {
  border-left: 5px solid $secondary;
  margin-bottom: 50px;
}

.answers-list__item {
  padding-left: 20px;
  margin-bottom: 20px;

  @include media(md) {
    margin-bottom: 40px;
  }
}

.answers-list__link {
  font-weight: bold;
  font-size: 18px;
}

.answers-list__link--accent {
  color: $accent;
}

.discovery__item {
  outline: none;

  .has-discovery & {
    display: none;
  }
}

.discovery__item--is-open {
  .has-discovery & {
    display: block;
  }
}
