.hero {
  background-color: $primary;
  text-align: center;
  height: 80vh;
  display: flex;
  justify-content: center;

  @include media(md) {
    display: block;
    text-align: left;
  }
}

.hero__content {
  align-self: center;

  @include media(md) {
    padding-top: 100px;
    // has to be same as .container
    max-width: 930px;
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;
    margin: 0 auto;
  }
}

.hero__title {
  color: $white;
  margin-top: 0;
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 0;
  line-height: 1;

  @include media(md) {
    font-size: 85px;
    margin-left: -17px;
    margin-bottom: 5px;
  }
}

.hero__text {
  color: $white;
  font-size: 18px;

  @include media(md) {
    font-size: 24px;
  }
}

.hero__button {
  width: 100%;
  margin-top: 100px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;

  @include media(md) {
    padding-left: 100px;
    padding-right: 100px;
    width: auto;
  }
}

.home {
  .main {
    .container {
      max-width: 100%;
      padding: 0;
    }
  }
}
