.site-nav {
  padding: 10px 0;
  border-bottom: 1px solid $secondary;
  background-color: $white;

  .home & {
    background-color: $primary;
  }
}

.site-nav__items {
  display: flex;
  align-items: center;
}

.site-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex: 1;
}

.site-nav__list-item {
  &:not(:last-of-type) {
    border-right: 1px solid $secondary;
  }
}

.site-nav__link {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .site-nav__list-item:first-child & {
    padding-left: 0;
  }

  &.active {
    font-weight: bold;

    body:not(.home) & {
      color: $primary;
    }
  }
}

.site-nav__button {
  flex-basis: auto;
  align-self: flex-end;
}
