.person {
  margin-bottom: 20px;

  p {
    font-size: 14px;
  }
}

.person__name {
  font-size: 14px;
  margin-bottom: 0;
}

.person__title {
  margin-bottom: 0;
}

.person__address {
  margin-bottom: 0;

  p {
    margin-bottom: 0;
  }
}

.person__email {
  margin-bottom: 0;
}

.person__tel {
  margin-bottom: 0;
}
