.resource {
  position: relative;
  padding-top: 10px;
  margin-bottom: 100px;
  max-width: 600px;

  &:before {
    content: '';
    display: block;
    background-color: $secondary;
    width: 50px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }

  a {
    font-weight: bold;
  }
}

.resource__title {
  font-size: 16px;
  margin-bottom: 5px;

  @include media(md) {
    font-size: 18px;
  }
}

.resource__description {
  margin-bottom: 0;

  @include media(md) {
    font-size: 18px;
  }
}

.resource__url {
  margin-bottom: 20px;
}

.resource__address {
  font-size: 14px;
}

.resource__tel-list {

}

.resource__tel {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1.8;
}

.resource__confidentiality {
  font-size: 14px;
  margin-bottom: 0;
}

.resource__person-list {

}

.resource__person {

}
