.resource {
  position: relative;
  padding-top: 10px;
  margin-bottom: 60px;

  @include media(md) {
    max-width: 500px;
  }

  &:before {
    content: '';
    display: block;
    background-color: $secondary;
    width: 50px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.resource__title {
  font-size: 16px;
  margin-bottom: 5px;
}

.resource__description {
  margin-bottom: 0;
}

.resource__url {
  margin-bottom: 0;
}

.resource__email {
  margin-bottom: 0;
  font-size: 14px;
}

.resource__address {
  p {
    font-size: 14px;
    margin-bottom: 0;
  }
}

.resource__tel-list {

}

.resource__tel {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 1.8;
}

.resource__confidentiality {
  font-size: 14px;
  margin-bottom: 0;
}

.resource__person-list {
  margin-top: 40px;
}

.resource__person {

}
