$breakpoints: (
  'sm': 480px,
  'md': 768px,
  'lg': 1024px,
  'xl': 1280px,
);

$font-family-sans-serif: 'open sans', verdana, sans-serif;

$primary: #0d395f;
$secondary: #18bcd7;
$accent: #c26533;

$white: #fff;
$black: #000;
$gray: #444;
$gray-light: #f8f7f8;
