---
layout: default
---

<section class="section">
  <a href="#" role="button" class="button button--secondary button--outline discovery__back-button js-discovery-back-button" aria-label="Go back to previous question"><span aria-hidden>&larr; Previous question</span></a>
  <div class="questions-list">
  {% for question in site.data.questions %}
    <article id="{{forloop.index}}" class="discovery__item" tabindex="-1">
      <div class="question">
        <h2 class="pagetitle">{{question.question}}</h2>
        {% if question.content %}
          <div class="question__content markdown">
            {{question.content | markdownify}}
          </div>
        {% endif %}
      </div>

      {% for id in question.resources %}

        {% assign item = site.data.resources[id] %}
        {% include resource.html resource=item %}

        {% if forloop.index == forloop.length %}

          {% if forloop.length == 1 %}
            <h3 class="answers-list-heading">If this resource isn't working for you, would you like to:</h3>
          {% else %}
            <h3 class="answers-list-heading">If these resources aren't working for you, would you like to:</h3>
          {% endif %}

        {% endif %}

      {% endfor %}

      <ul class="answers-list">
        {% for item in question.answers %}
          <li class="answers-list__item">
            {% if item.id %}
              <a href="#{{item.id}}" class="answers-list__link {% if item.accent %}answers-list__link--accent{% endif %}">{{item.title}}</a>
            {% else %}
              <span>{{item.title | markdownify }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </article>
  {% endfor %}
  </div>
</section>
