<!DOCTYPE html>
<html class="no-js">
  <head>
    <title>{% if page.title %}{{page.title}} - {% endif %}{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ "/img/midd_favicon.png" | prepend: site.baseurl }}" type="image/png">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/83898/706148/css/fonts.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
  </head>
  <body class="{{page.body_class}}">
    {% include header.html %}
    <main class="main" id="main">
      <div class="container">
        {{content}}
      </div>
    </main>
    {% include footer.html %}
    {% include modals.html %}
    <script src="{{ "/js/bundle.js" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}"></script>
  </body>
</html>
